
/* Theme Compatibility - Astra  */
#content {display: block;}
 .site-content .ast-container{
	max-width: 100%!important;
	display: block!important;
	padding: 0px!important;
	background-color: #fff;
 }

/* Gutenberg block compatibility */
.ast-oembed-container {
    height: auto !important;
}

/* Start Main Styles */
#frhd-fp-article-main{
	overflow: visible!important;
	width: 100%;
	height: 100%;
	padding-bottom: 100px;
	font-family: inherit;
}
#frhd-fp-article-main .frhd-fp-article-heading{
	background-color: rgba(255, 25, 97, 0.10);
}
#frhd-fp-article-main .frhd-fp-article-heading-content{
	display: flex;
    justify-content: space-between;
    align-items: center;
	gap: 70px;
	padding: 70px 10px;
	max-width: 1200px;
    margin: auto;
}
#frhd-fp-article-main .frhd-fp-article-heading-content {
    justify-content: center;
    text-align: center;
}
.frhd-fp-article-featured-img {
    max-width: 500px;
	flex-basis: 50%;
}
.frhd-fp-article-container {
	text-align: left;
	flex-basis: 50%;
}
.frhd-fp-article-featured-img img {
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	width: 100%;
	height: auto;
}
.frhd__cat-name a {
    background: #FF1F56;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    padding: 5px 9px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: .3s;
	text-transform: capitalize;
}
.frhd__cat-name a:hover {
    border-color: #FF1F56;
    background: #fff;
    color: #FF1F56;
}
.frhd-post-tags a.frhd-tag:first-of-type {
    background: rgb(240, 249, 255);
    color: rgb(2, 106, 162);
    border-color: rgb(185, 230, 254);
}
.frhd-post-tags a.frhd-tag:first-of-type:hover {
    background: rgb(2, 106, 162);
    color: #fff;
}
a.frhd-tag {
    color: rgb(193, 21, 116);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(252, 206, 238);
    border-image: initial;
    background: rgb(253, 242, 250);
}
a.frhd-tag:hover {
    background: rgb(193, 21, 116);
    color: #fff;
}
.frhd__cat-wrapper {
    margin-bottom: 10px;
}
h1.frhd-article-main-heading {
    margin: 0;
    font-size: 36px;
    line-height: 40px;
    padding: 10px 0;
}
.frhd-article-publish-date {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}
#frhd-fp-article-main .frhd-fp-article-container h2{
	font-size:  48px;
	color: #000;
	font-weight: 700;
	margin: 0px;
}
#frhd-fp-article-main .frhd-fp-article-container p{
	font-size:  20px;
	color: #525157;
	max-width: 750px;
	margin: 25px auto;
}
#frhd-fp-article-main .frhd-fp-article-heading-inner img{
    height: 56px;
	width: 56px;
	border-radius: 200px;
	object-fit: cover;
}
#frhd-fp-article-main .frhd-fp-article-meta{
	text-align: left;
}
#frhd-fp-article-main .frhd-fp-article-meta a{
    text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	transition: 0.4s;
	margin: 0px;
	color: #000;
}
#frhd-fp-article-main .frhd-fp-article-meta a:hover{
    color: #FF1F56;
}
#frhd-fp-article-main .frhd-fp-article-meta p{
    margin: 0px;
}
#frhd-fp-article-main .frhd-fp-article-meta span{
    color: #525157;
	font-weight: 700;
}
#frhd-fp-article-main .frhd-fp-article-heading-inner h1{
	font-weight: 700;
	max-width: 680px;
}
#frhd-fp-article-content-inner {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    padding: 40px 10px;
	width: 100%;
}
.frhd-fp-article-author {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.frhd-fp-article-auth-prefix {
    margin: 0 !important;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.frhd-fp-article-auth-prefix svg {
    width: 16px;
    height: 16px;
}
.frhd-fp-article-auth-meta-inner {
    display: flex;
    gap: 15px;
    align-items: center;
}
.frhd-fp-article-author-about {
    text-transform: capitalize;
}
.frhd-fp-article-author-about a {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #222;
}
/* Wearing a crown */
.frhd-fp-author-image.frhd-fp-crown-on {
    position: relative;
    z-index: 1;
}
.frhd-fp-author-image.frhd-fp-crown-on:after {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23feb602'%3E%3Cpath d='M486.2 50.2c-9.6-3.8-20.5-1.3-27.5 6.2l-98.2 125.5-83-161.1C273 13.2 264.9 8.5 256 8.5s-17.1 4.7-21.5 12.3l-83 161.1L53.3 56.5c-7-7.5-17.9-10-27.5-6.2C16.3 54 10 63.2 10 73.5v333c0 35.8 29.2 65 65 65h362c35.8 0 65-29.2 65-65v-333c0-10.3-6.3-19.5-15.8-23.3'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    z-index: -1;
}
.frhd-fp-article-author img.frhd-fp-crown-on {
    background: #fff;
}
/* Article Aside */
.frhd-fp-article-aside{
	position: relative;
}
#frhd-fp-article-toc{
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0px 0px 34px 0px rgba(27, 28, 30, 0.15);
	border-radius: 10px;
	position: sticky;
	top: 40px;
	overflow: hidden;
}
#frhd-fp-article-toc-inner{
	position: relative;
}
.frhd-fp-article-aside p{
	position: absolute;
    margin: 0;
    top: 45px;
    left: 20px;
}
#frhd-fp-article-toc-list {
    padding: 0;
    font-size: 16px;
}
#frhd-fp-article-toc ol > li {
    list-style-type: decimal;
    counter-increment: h2-counter;
	padding: 5px 10px;
}
#frhd-fp-article-toc ol > li > ul > li {
    list-style-type: disc;
}
#frhd-fp-article-toc ol li.active{
	padding: 0px;
}
#frhd-fp-article-toc ol li.active a:not(ul li a){
    background-color: rgba(255, 25, 97, 0.10);
    color: #FF1F56;
    border-left: 4px solid #FF1F56;
	display: block;
	padding: 10px;
}
#frhd-fp-article-toc ol > li > a::before {
    content: counter(h2-counter) ". ";
    font-weight: bold;
    margin-right: 5px;
}
 #frhd-fp-article-toc li a{
    text-decoration: none;
    transition: color 0.4s;
    color: #525157;
}
#frhd-fp-article-toc ul li:hover::marker{
	color: #FF1F56;
}
/* Hover effect on links */
#frhd-fp-article-toc li a:hover {
    color: #FF1F56;
}
#frhd-fp-article-toc h2{
	font-size: 26px;
    line-height: 30px;
    font-weight: 700;
	padding: 20px;
    white-space: nowrap;
    margin: 0px;
    display: flex;
	align-items: center;
    gap: 4px;
	border-bottom: 1px solid #ebebeb;
}
#frhd-fp-article-toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#frhd-fp-article-toc ul li {
    display: block;
    font-size: 16px;
    line-height: 22px;
}
#frhd-fp-article-toc ul li a {
    outline: 0 !important;
	display: inline-block;
	text-decoration: none;
	line-height: 20px;
    padding: 10px 10px 10px 20px;
}
#toc-list li a:hover {
    text-decoration: underline !important;
}
#toc-list li.active {
    background: rgb(255 31 86 / 10%);
	border-left: 4px solid #FF1F56;
    font-weight: bold;
}
#frhd-fp-article-body .author-image{
	max-width: 56px;
	margin: auto;
}
#frhd-fp-article-body .wp-block-group a{
	text-decoration: underline;
	color: #525157;
} 
#frhd-fp-article-body .wp-block-group a:hover{
	text-decoration: none;
}
.frhd-fp-article-meta {
    text-transform: capitalize;
}
/* Table of Content */
#frhd-fp-article-toc li.toc-h3 a:before {width: 20px;left: -30px;}
#frhd-fp-article-toc li.toc-h4 a:before {width: 30px;left: -40px;}
#frhd-fp-article-toc li.toc-h5 a:before {width: 40px;left: -50px;}
#frhd-fp-article-toc li.toc-h6 a:before {width: 50px;left: -60px;}
#frhd-fp-article-toc li.toc-h3 a {
    margin-left: 10px;
}
#frhd-fp-article-toc li.toc-h4 a {
    margin-left: 20px;
}
#frhd-fp-article-toc li.toc-h5 a {
    margin-left: 30px;
}
#frhd-fp-article-toc li.toc-h6 a {
    margin-left: 40px;
}
/* Inner Article Typo Reset */
#frhd-fp-article-get-content h1 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px !important;
}
#frhd-fp-article-get-content h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 10px !important;
}
#frhd-fp-article-get-content h3 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 10px !important;
}
#frhd-fp-article-get-content h4 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px !important;
}
#frhd-fp-article-get-content h5 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px !important;
}
#frhd-fp-article-get-content h6,
#frhd-fp-article-get-content p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 18px !important;
}
#frhd-fp-article-get-content {
    border-bottom: 1px solid #efefef;
}
/* Top Progess bar */
#frhd-fp-top-progress-bar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5px;
	z-index: 99999;
	pointer-events: none;
	display: block;
}
#frhd-fp-progress-bar-thumb{
	height: 5px;
	background-color: rgb(255, 100, 45);
	border-radius: 5px;
	width: 0px;
	transition: width 0.3s;
}
/* Socials */
.frhd-fp-copy-container,
.frhd-fp-socials-right a{
	display: inline-block;
	border-radius: 8px;
	border: 1px solid  #D0D5DD;
	background:  #FFF;
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
	padding: 10px;
	cursor: pointer;
	transition: 0.4s;
	display: flex;
	gap: 5px;
	align-items: center;
}
.frhd-fp-copy-container:hover{
	background: #FDF2FA;
	border: 1px solid  #FCCEEE;
}
.frhd-fp-socials-right a:hover {
    border-color: rgb(255 31 86 / 50%);
}
.frhd-fp-socials-right a:hover svg path {
    fill: rgb(255 31 86 / 50%);
}
.frhd-fp-socials-right a:hover svg #Vector_2{
	fill: #fff;
}
.frhd-fp-socials-right span{ 
	font-size: 14px;
	font-weight: 600;
	color: #525157;
}
.frhd-fp-socials-right a{
	padding: 10px;
}
.frhd-fp-article-socials svg { 
	height: 24px;
	width: 24px;
}
.frhd-fp-socials-right {
    display: flex;
    align-items: center;
	justify-content: center;
    gap: 8px;
    background: #fff;
    width: 100%;
    padding: 15px 10px;
	border-top: 1px solid #ededed;
	position: absolute;
	bottom: 0;
	border-radius: 0px 0px 10px 10px;
}
.frhd-fp-copy-container span {
    font-size: 14px;
    line-height: 14px;
}
/* Newsletter */
#frhd-fp-article-main .frhd-fp-newsletter{
	border-radius: 13px;
	border-top: 1px solid  #FF1F56;
	background:  #FE4121;
	text-align: center;
	padding: 30px;
	margin-top: 50px;
}
#frhd-fp-article-main .frhd-fp-newsletter input:not([type="submit"]) {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    padding: 10px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    font-size: 14px;
    max-width: 100%;
    height: 50px;
}
#frhd-fp-article-main .frhd-fp-newsletter label {
    color: #fff;
}
#frhd-fp-article-main .frhd-fp-newsletter input[type="submit"],
#frhd-fp-article-main .frhd-fp-newsletter button[type="submit"] {
	background: #000;
	border: 1px solid #FE4121;
	color: #fff;
	transition: 0.4s;
	font-weight: 700;
	width: 100%;
	border-radius: 5px;
}
#frhd-fp-article-main .frhd-fp-newsletter input[type="submit"]:hover,
#frhd-fp-article-main .frhd-fp-newsletter button[type="submit"]:hover{
	background: #fff;
	border: 1px solid transparent;
	color: #000;
}
#frhd-fp-article-main .frhd-fp-newsletter .wpforms-submit-container{
	margin: 0px;
	padding: 0px;
}
.frhd-fp-newsletter-content,
.frhd-fp-newsletter-content h1,
.frhd-fp-newsletter-content h2,
.frhd-fp-newsletter-content h3,
.frhd-fp-newsletter-content h4,
.frhd-fp-newsletter-content h5,
.frhd-fp-newsletter-content h6 {
    color: #fff;
}
.frhd-fp-newsletter-content {
    max-width: 600px;
    margin: 0 auto;
}
/* About Author */
#frhd-fp-article-main .frhd-fp-about-author{
	margin-top: 40px;
	border-radius: 11px;
	border-top: 1px solid #FF1F56;
	background: rgba(255, 25, 97, 0.10);
	padding: 24px 30px;
	position: relative;
}
#frhd-fp-article-main .frhd-fp-about-author .frhd-fp-about-author-inner img{
    height: auto!important;
	max-width: 56px;
	border-radius: 200px;
	object-fit: cover;
}
#frhd-fp-article-main .frhd-fp-about-author .frhd-fp-about-author-inner{
    display: flex;
	align-items: center;
	gap: 15px;
	text-transform: capitalize;
}
#frhd-fp-article-main .frhd-fp-about-author .frhd-fp-about-author-inner h5,
#frhd-fp-article-main .frhd-fp-about-author .frhd-fp-about-author-inner p{
    margin: 0px;
	font-size: 16px;
}
#frhd-fp-article-main .frhd-fp-about-author .frhd-fp-about-author-inner h5{
	color: #FF1F56;
}
#frhd-fp-article-main .frhd-fp-about-author p{
	font-size: 17px;
	line-height: 28px;
	margin: 25px 0px 0px;
	color: #787878;
}
#frhd-fp-article-main .frhd-fp-author-socials{
	margin-top: 30px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
#frhd-fp-article-main .frhd-fp-author-socials .frhd-fp-author-socials-inner{
	display: flex;
    align-items: center;
    gap: 10px;
}
#frhd-fp-article-main .frhd-fp-about-author .frhd-fp-author-socials-inner a {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid  #D0D5DD;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    transition: 0.4s;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#frhd-fp-article-main .frhd-fp-about-author .frhd-fp-author-socials-inner a:hover {
    color: #FF1F56;
	border-color: #FF1F56;
}
#frhd-fp-article-main .frhd-fp-about-author .frhd-fp-view-post {
	color: #FF1F56;
    font-size: 18px;
    line-height: 18px;
    transition: 0.4s;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 7px;
	align-self: end;
	text-decoration: none;
}
#frhd-fp-article-main .frhd-fp-about-author .frhd-fp-view-post svg {
    width: 18px;
    height: 18px;
    fill: #FF1F56;
    filter: drop-shadow(0px 0px 0px black);
}
#frhd-fp-article-main .frhd-fp-about-author .frhd-fp-view-post:hover{ 
	color: #000;
}
#frhd-fp-article-main .frhd-fp-about-author .frhd-fp-view-post:hover svg {
    fill: #000;
}
.frhd-fp-author-edit {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: underline !important;
    text-underline-offset: 2px;
}
.frhd-fp-author-edit:hover{
	color: #FF1F56;
}
.frhd-fp-author-edit svg {
    width: 14px;
    height: 14px;
    fill: #444;
    margin-bottom: 5px;
}
.frhd-fp-auth-missing svg {
    width: 10px;
    height: 10px;
    fill: #444;
    margin-top: -3px;
    margin-left: 5px;
}
.frhd-fp-auth-missing {
    font-weight: 400 !important;
}
.frhd-fp-auth-missing:hover {
    text-decoration: underline !important;
    color: #444 !important;
}
/* Article Bottom Section */
.frhd-fp-article-bottom {
    clear: both;
}
/* Comment Section */
#comments,
#respond{
	padding: 0px;
}
#reply-title {
    margin-bottom: 5px;
    font-weight: bold;
}
#comments #submit {
    background: #222;
}
#comments #submit:hover {
    background: #000;
}

/* Responsive */
@media (min-width: 767px) {
	.frhd-fp-article-aside {
		flex-basis: 30%;
		width: 30%;
	}
	#frhd-fp-article-body {
		flex-basis: 70%;
		width: 70%;
		padding-left: 20px;
	}
}
@media (max-width: 1024px){
	#frhd-fp-article-content-inner{
		padding: 20px;
	}
}
@media (max-width: 768px){
	#frhd-fp-article-content-inner,
	#frhd-fp-article-main .frhd-fp-article-heading-content{
		display: flex;
		flex-direction: column;
	}
	#frhd-fp-article-toc{
		max-width: 100%;
	}
	#frhd-fp-article-body {
		margin: 0px;
	}
	#frhd-fp-article-main .frhd-fp-about-author .frhd-fp-about-author-inner{
		display: unset!important;
	}
	#frhd-fp-article-main .frhd-fp-about-author .frhd-fp-about-author-inner img{
		width: auto!important;
		margin-bottom: 10px;
	}
}
@media(max-width: 599px){
	/* Reset */
	#frhd-fp-article-post-inner h1{
		font-size: 26px !important;
        line-height: 34px;
	}
	#frhd-fp-article-main .frhd-fp-author-socials{
		display: flex;
		flex-direction: column;
		align-items: self-start;
	}
	#frhd-fp-article-main .frhd-fp-about-author .frhd-fp-view-post{
		display: flex;
		align-self: self-start;
		padding-top: 15px!important;
	}
}