.frhd__post-grid-interactive-2.frhd__post-block-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 20px;
}
.frhd__post-grid-interactive-2 .frhd__post-interactive-article {
  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.3s;
}
.frhd__post-grid-interactive-2 .frhd__article-anchor {
  background-color: #03334e;
  display: block;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.frhd__post-grid-interactive-2 .frhd__article-body {
  height: 360px;
  position: relative;
  padding: 0;
  background: #cccccc;
}
.frhd__post-grid-interactive-2 .frhd__article-body img {
  object-fit: cover;
  height: 75%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.frhd__post-grid-interactive-2 span.frhd__featured-image-missing {
display: block;
min-height: 220px;
max-height: 220px;
}
.frhd__post-grid-interactive-2 span.frhd__featured-image-missing:before {
position: absolute;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-65px);
width: 25px;
height: 25px;
background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 21C14.6917 19.8005 14.1618 18.6686 13.4412 17.6532M3 13.0351C3.31177 13.0127 3.62454 13.0019 3.93756 13.0027C6.57381 12.9466 9.14549 13.7729 11.1937 15.3342C12.0694 16.0016 12.825 16.7848 13.4412 17.6532M16.2449 16.2449C15.2871 16.5074 14.3464 16.9792 13.4412 17.6532' stroke='%23141B34' stroke-width='1.5' stroke-linejoin='round'/%3E%3Ccircle cx='16.5' cy='7.5' r='1.5' stroke='%23141B34' stroke-width='1.5'/%3E%3Cpath d='M2 2L22 22' stroke='%23141B34' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M21 3H21.75C21.75 2.58579 21.4142 2.25 21 2.25V3ZM3 21H2.25C2.25 21.4142 2.58579 21.75 3 21.75V21ZM2.25 3V21H3.75V3H2.25ZM21 20.25H3V21.75H21V20.25ZM6.18198 3.75H21V2.25H6.18198V3.75ZM20.25 3V17.818H21.75V3H20.25Z' fill='%23141B34'/%3E%3C/svg%3E%0A");
background-repeat: no-repeat;
content: "";
opacity: .5;
}
.frhd__post-grid-interactive-2 .frhd__article-overlay {
  background-color: #5a64d0;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(calc(100% - 114px));
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.frhd__post-grid-interactive-2 .frhd__post-title {
  margin-bottom: 35px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frhd__post-grid-interactive-2 .frhd__post-title h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0px;
  text-transform: inherit;
  color: #ffffff;
  margin: 0;
}
.frhd__post-grid-interactive-2 article.frhd__post-interactive-article:hover .frhd__article-overlay {
  transform: none;
}
.frhd__post-grid-interactive-2 .frhd__post-excerpt p {
  font-size: 19px;
  color: #ffffff;
  margin: 0;
  line-height: 24px;
  overflow: hidden;
}
.frhd__post-grid-interactive-2 a {
  text-decoration: none !important;
  box-shadow: 0 0 !important;
}
.frhd__post-grid-interactive-2 .frhd__btn-wrap {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}
.frhd__post-grid-interactive-2 .frhd__btn-wrap svg {
  width: 50px;
  height: 50px;
  fill: #5a64d0;
  background: #ffffff;
  border-radius: 50%;
  padding: 10px
}
.frhd__post-grid-interactive-2 .frhd__btn:hover svg {
  fill: #ffffff;
  background: #ff798e;
}
.frhd__post-grid-interactive-2 .frhd__btn:hover svg {
  box-shadow: 0 0 10px 0px rgb(255 255 255 / 50%);
  transition: .3s;
}
.frhd__post-grid-interactive-2 .frhd__btn  {
pointer-events: painted;
}
.frhd-post-img-shine::before{
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: left 0.75s;
  }
  .frhd-post-img-shine:hover::before {
      animation: shine .75s;
  }
  .frhd-post-img-zoomin:hover img {
      transform: scale(1.2);
  }
  .frhd-post-img-zoomout:hover img {
      transform: scale(1);
  }
  .frhd-post-img-opacity:hover img {
      opacity: 0.5;
  }
  .frhd-post-img-rotate:hover img {
      transform: rotate(5deg) scale(1.2);
  }
  .frhd-post-img-gray:hover img {
      filter: grayscale(100%);
  }
  .frhd-post-img-sepia:hover img {
      filter: sepia(100%);
  }
  .frhd__post-btn.frhd-post-btn-rotate a:hover {
    transform: rotate(2deg) scale(1.008);
  }
  .frhd__post-btn.frhd-post-btn-transform a:hover {
    transform: translate(0,-4px);
  }
  .frhd-post-btn-fillup a {
    overflow: hidden;
    border: 1px solid transparent;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
  }
  .frhd-post-btn-fillup a:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 150%;
    background: #333;
    pointer-events: none;
    transform: translate3d(0, 45px, 0);
    transition: all 0.3s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .frhd-post-btn-fillup a > span{
    height: 100%;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .frhd-post-btn-fillup a:hover {
    color: #fff !important;
    fill: #fff !important;
    border: 1px solid transparent !important;
    background: none !important;
  }
  .frhd-post-btn-fillup a:hover:after {
    transform: translate3d(0, 0, 0);
  }
  .frhd-post-btn-shake a:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }
  .frhd-post-btn-rotate:hover svg {
    transform: rotate(2deg) scale(1.008);
  }
  .frhd-post-btn-transform:hover svg {
    transform: translate(0,-4px);
  }
  .frhd-post-btn-shake svg:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }