.frhd__post-grid-8.frhd__post-block-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 20px;
}
.frhd__post-grid-8 .frhd__post-block-article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: transparent !important;
}
.frhd__post-grid-8 .frhd__featured-image img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 240px;
  max-width: 100%;
  border-radius: 16px;
  object-fit: cover;
}
.frhd__post-grid-8 .frhd__article-head,
.frhd__post-grid-8 .frhd__featured-image {
  background: #cccccc;
  border-radius: 16px;
  position: relative;
}
.frhd__post-grid-8 span.frhd__featured-image-missing {
  display: block;
  min-height: 220px;
  max-height: 220px;
}
.frhd__post-grid-8 span.frhd__featured-image-missing:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 21C14.6917 19.8005 14.1618 18.6686 13.4412 17.6532M3 13.0351C3.31177 13.0127 3.62454 13.0019 3.93756 13.0027C6.57381 12.9466 9.14549 13.7729 11.1937 15.3342C12.0694 16.0016 12.825 16.7848 13.4412 17.6532M16.2449 16.2449C15.2871 16.5074 14.3464 16.9792 13.4412 17.6532' stroke='%23141B34' stroke-width='1.5' stroke-linejoin='round'/%3E%3Ccircle cx='16.5' cy='7.5' r='1.5' stroke='%23141B34' stroke-width='1.5'/%3E%3Cpath d='M2 2L22 22' stroke='%23141B34' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M21 3H21.75C21.75 2.58579 21.4142 2.25 21 2.25V3ZM3 21H2.25C2.25 21.4142 2.58579 21.75 3 21.75V21ZM2.25 3V21H3.75V3H2.25ZM21 20.25H3V21.75H21V20.25ZM6.18198 3.75H21V2.25H6.18198V3.75ZM20.25 3V17.818H21.75V3H20.25Z' fill='%23141B34'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  content: "";
  opacity: .5;
}
.frhd__post-grid-8 .frhd__post-block-article svg {
  width: 15px;
  height: 15px;
  fill: #ff798e;
}
.frhd__post-grid-8 .frhd__post-meta {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  color: red;
  margin-bottom: 0;
}
.frhd__post-grid-8 .frhd__post-meta a {
  color: red;
}
.frhd__post-grid-8 .frhd__post-meta span a::after {
   content: '.';
   margin-left: 5px;
   margin-right: 3px;
}
.frhd__post-grid-8 .frhd__article-body {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.frhd__post-grid-8 .frhd-post-meta {
  display: flex;
  align-items: center;
  gap: 5px;
}
.frhd__post-grid-8 .frhd__post-meta {
  font-weight: bold;
}
.frhd__post-grid-8 .frhd-post-meta a,
.frhd__post-grid-8 .frhd-post-meta time {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.frhd__post-grid-8 .frhd__post-title {
  position: relative;
  margin-bottom: 0;
}
.frhd__post-grid-8 .frhd__post-title:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  height: 24px;
  width: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='#fff'%3E%3Cpath d='M7 17L17 7M17 7H7M17 7V17' stroke='%23101828' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.frhd__post-grid-8 .frhd__article-body h2 {
  color: #ff0000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  padding-right: 25px;
}
.frhd__post-grid-8 .frhd__article-body h2 {
  max-width: 340px;
}
.frhd__post-grid-8 .frhd__post-excerpt p {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
@media(max-width: 922px){
  .frhd__post-grid-8 .frhd__post-block-container {
      grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 599px){
  .frhd__post-grid-8 .frhd__post-block-container {
      grid-template-columns: repeat(1, 1fr);
  }
}